*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1{
    background-color: blueviolet;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;   

font-size: 1em ; 
font-style: oblique;

}



body{
    background-color:aqua;
}